* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rebeccapurple;
  font-size: 18px;
}

img {
  width: 60%;
  margin: auto;
  display: block;
}

header {
  background-color: rosybrown;
  text-align: center;
  font-size: 2rem;
}

main {
  background-color: royalblue;
}

header,
main {
  margin: auto;
  width: 85%;
}

#grid-floats {
  background-color: salmon;
}

#grid-floats p {
  text-align: left;
}

#grid-floats li:nth-child(2) p {
  text-align: right;
}

#grid-floats li {
  list-style: none;
  width: 25%;
  height: 350px;
  float: left;
  overflow: auto;
}

.clearfix {
  clear: both;
}

#grid-floats li:first-child {
  width: 50%;
}

#grid-flex {
  background-color: sandybrown;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

#grid-flex li {
  flex-basis: 25%;
  list-style: none;
}
#grid-flex li:first-child {
  flex: 50%;
}

.grid-item {
}
